<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
<script src="/static/jquery.json-viewer.js"></script>
<link href="/static/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<style>
  #wrapper li {
    list-style:none;
  }
</style>

  <h3>Ayarlar</h3>
  <pre id="wrapper"></pre>

<h3>Ortam Değişkenleri</h3>
	<span>Pencere Yöneticisi: </span><b>{{ .data.active.name }}</b><p>
	<div style="padding-left:16px">
	{{if .data }}
		<table id="env" border="1" class="display">
			<thead>
			<th>isim</th>
			<th>değer</th>
			</thead>
		{{ range .data.env }}
			<tr>
				<td>{{ .name }}</td>
				<td>{{ .value }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>

<script>
  var wrapper = document.getElementById("wrapper");
  $.get( "api/desktop", function( resp ) {
    //console.log(resp.data)
    //var tree = jsonTree.create(resp.data, wrapper);
    $('#wrapper').jsonViewer(resp.data, {rootCollapsable:false,collapsed: false, withQuotes: false, withLinks: true});
  });
  
  $('#env').DataTable( {
        dom: 'Qlfrtip',
        "pageLength": 50,
        "columnDefs": [
			{ "width": "60%", "targets": 1 }
		 ]
  });

</script>
</body></html>
