<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px">
  <h2>Diskler ve Bağlam Noktaları</h2>
  
	<div>
	{{ with .data }} 
	
	{{if .lsblk }}
		<h4>lsblk</h4>
		<table id="lsblk" border="1">
			<thead>
			<th>name</th>
			<th>fstype</th>
			<th>label</th>
			<th>partlabel</th>
			<th>uuid</th>
			<th>fssize</th>
			<th>fsused</th>
			<th>fsavail</th>
			<th>fsuse%</th>
			<th>mountpoint</th>
			</thead>
		{{ range .lsblk }}
			<tr>
				<td>{{ .name }}</td>
				<td>{{ .fstype }}</td>
				<td>{{ .label }}</td>
				<td>{{ .partlabel }}</td>
				<td>{{ .uuid }}</td>
				<td>{{ .fssize }}</td>
				<td>{{ .fsused }}</td>
				<td>{{ .fsavail }}</td>
				<td>{{ index . "fsuse%" }}</td>
				<td>{{ .mountpoint }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}

	{{if .blkid }}
		<h4>blkid</h4>
		<table id="blkid" border="1">
			<thead>
			<th>block size</th>
			<th>device</th>
			<th>partuuid</th>
			<th>type</th>
			<th>uuid</th>
			</thead>
		{{ range .blkid }}
			<tr>
				<td>{{ .block_size }}</td>
				<td>{{ .device }}</td>
				<td>{{ .partuuid }}</td>
				<td>{{ .type }}</td>
				<td>{{ .uuid }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}

	{{if .mount }}
		<h4>mount</h4>
		<table id="mount" border="1">
			<thead>
			<th>filesystem</th>
			<th>mount_point</th>
			<th>type</th>
			<th>options</th>
			</thead>
		{{ range .mount }}
			<tr>
				<td>{{ .filesystem }}</td>
				<td>{{ .mount_point }}</td>
				<td>{{ .type }}</td>
				<td>{{ .options }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}

	{{if .fstab }}
		<h4>fstab</h4>
		<table id="fstab" border="1">
			<thead>
			<th>fs_spec</th>
			<th>fs_file</th>
			<th>fs_vfstype</th>
			<th>fs_mntops</th>
			<th>fs_freq</th>
			<th>fs_passno</th>
			</thead>
		{{ range .fstab }}
			<tr>
				<td>{{ .fs_spec }}</td>
				<td>{{ .fs_file }}</td>
				<td>{{ .fs_vfstype }}</td>
				<td>{{ .fs_mntops }}</td>
				<td>{{ .fs_freq }}</td>
				<td>{{ .fs_passno }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	
	{{end}}
	</div>
</body></html>
