<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<script src="/static/datatables.min.js"></script>
<script src="/static/jquery.json-viewer.js"></script>
<link href="/static/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<style>
  #wrapper li {
    list-style:none;
  }
</style>

  <h2>Donanım Dökümü</h2>
  <pre id="wrapper"></pre>

<script>
  var wrapper = document.getElementById("wrapper");
  $.get( "api/hardware", function( resp ) {
    //console.log(resp.data)
    //var tree = jsonTree.create(resp.data, wrapper);
    $('#wrapper').jsonViewer(resp.data, {rootCollapsable:false,collapsed: false, withQuotes: false, withLinks: true});
  });

</script>
</body></html>
