<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
</head>
<body>


<div class="topnav">
  {{ template "menu" .}}
</div>

<div style="padding-left:16px">
  <h2>Ayguci Bilgi Sistemi</h2>
	{{if and .kernel .os }}
		<table id="os" border="1">
			<tr>
			<td><img src="static/ayguci.svg" width=100 height=100></img></td>	
			<td>
			<table>
			  <tr><td>Sistem</td><td>{{index .os "Distributor ID"}}</td></tr>
			  <tr><td>Sürüm</td><td>{{.os.Release}}</td></tr>
			  <tr><td>Kod Adı</td><td>{{.os.Codename}}</td></tr>
			  <tr><td>Bilgisayar Adı</td><td>{{.kernel.node_name}}</td></tr>
			  <tr><td>Sistem Türü</td><td>{{.kernel.machine}}</td></tr>
			  <tr><td>Kernel Sürüm</td><td>{{.kernel.kernel_release}}</td></tr>
			  <tr><td>Kurulum Sürüm</td><td>{{.os.milis_surum}}</td></tr>
			  <tr><td>Açık Kalma</td><td>{{.os.uptime}}</td></tr>
			</table>
			</td>
			</tr>
		</table>
	{{end}}
	<br>
	{{if .hw }}
		{{ with .hw }}
		<table id="hw" border="1">	
			<tr><td><b>Cihaz Bilgisi</b></td></tr>
			<tr><td>Model</td><td>{{ print .vendor .product }}</td></tr>
			<tr><td>Seri No</td><td>{{ .serial }}</td></tr>
		</table>
		{{ end }}
	{{end}}
	<br>
	{{if .cpu }}
		{{ with .cpu }}
		<table id="cpu" border="1">	
			<tr><td><b>İşlemci</b></td></tr>
			<tr><td>Model</td><td>{{.product}}</td></tr>
			<tr><td>Çekirdek</td><td>{{.configuration.cores}}</td></tr>
			<tr><td>Thread</td><td>{{.configuration.threads}}</td></tr>
		</table>
		{{ end }}
	{{end}}
	<br>
	{{if .memory }}
		{{ with .memory }}
		<table id="memory" border="1">	
			<tr><td><b>Bellek</b></td><td>MB</td></tr>
			<tr><td>Kullanılan</td><td>{{.used}}</td></tr>
			<tr><td>Boşta</td><td>{{.free}}</td></tr>
			<tr><td>Toplam</td><td>{{.total}}</td></tr>
		</table>
		{{ end }}
	{{end}}
</div>

</body></html>
