<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px">
  <h2>Kernel Modülleri</h2>
  
	<div> 
	{{if .data }}
		<table id="modules" border="1" class="display">
			<thead>
			<th>module</th>
			<th>size</th>
			<th>used</th>
			<th>by</th>
			</thead>

		{{ range .data }}
			<tr>
				<td>{{ .module }}</td>
				<td>{{ .size }}</td>
				<td>{{ .used }}</td>
				<td>{{ .by }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>
<script>
$(document).ready(function() {
    $('#modules').DataTable( {
        dom: 'Qlfrtip',
    });
});
</script>
</body></html>
