{{define "menu"}}
<a class="{{.index_menu}}" href="/">Anasayfa</a>
<a class="{{.user_menu}}" href="/user">Kullanıcı</a>
<a class="{{.network_menu}}" href="/network">Ağ</a>
<a class="{{.process_menu}}" href="/process">Süreç</a>
<a class="{{.port_menu}}" href="/port">Bağlantı</a>
<a class="{{.usb_menu}}" href="/usb">USB</a>
<a class="{{.disk_menu}}" href="/disk">Disk</a>
<a class="{{.sound_menu}}" href="/sound">Ses</a>
<a class="{{.screen_menu}}" href="/screen">Ekran</a>
<a class="{{.sensor_menu}}" href="/sensor">Sensör</a>
<a class="{{.service_menu}}" href="/service">Servis</a>
<a class="{{.kernel_menu}}" href="/kernel">Çekirdek</a>
<a class="{{.battery_menu}}" href="/battery">Pil</a>
<a class="{{.hardware_menu}}" href="/hardware">Donanım</a>
<a class="{{.desktop_menu}}" href="/desktop">Masa</a>
<a class="{{.locale_menu}}" href="/locale">Yerel</a>
<a class="{{.boot_menu}}" href="/boot">Önyükleme</a>
<a class="{{.mps_menu}}" href="/mps">MPS</a>
<a class="{{.notify_menu}}" href="/notify">Bildirim</a>
<a class="{{.python_menu}}" href="/python">Python</a>
{{ end }}
