<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
<script src="/static/jquery.json-viewer.js"></script>
<link href="/static/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px">
  <h2>MPS</h2>
  <h3>Talimat Arama</h3>
	<div> 
	{{if .data }}
		<table id="mps" border="1" class="display">
			<thead>
			<th>isim</th>
			<th>sürüm</th>
			<th>devir</th>
			<th>grup</th>
			<th>seviye</th>
			<th>tanım</th>
			<th>url</th>
			</thead>
		{{ range .data }}
			<tr>
				<td><a href="/mps/talimat?talimat={{ .path }}" target="_blank">{{ .name }}</a></td>
				<td>{{ .version }}</td>
				<td>{{ .release }}</td>
				<td>{{ .group }}</td>
				<td>{{ .level }}</td>
				<td>{{ .desc }}</td>
				<td>{{ .url }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>
	<h3>Durum</h3>
	<pre id="update"></pre>

	<h3>Ayarlar</h3>
	<pre id="config"></pre>
<script>

function fetchdata(){  
  //var wrapper = document.getElementById("config");
  $.get( "api/mps/config", function( resp ) {
    //console.log(resp.data)
    //var tree = jsonTree.create(resp.data, wrapper);
    $('#config').jsonViewer(resp.data, {rootCollapsable:true,collapsed: false, withQuotes: true, withLinks: true});
  });
  
  $.get( "api/mps/gun", function( resp ) {
    //console.log(resp.data)
    //var tree = jsonTree.create(resp.data, wrapper);
    $('#update').jsonViewer(resp.data, {rootCollapsable:true,collapsed: false, withQuotes: true, withLinks: true});
  });
}

fetchdata();	
	
$('#mps').DataTable( {
        dom: 'Qlfrtip',
});
</script>
</body></html>
