<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
<script src="/static/jquery.json-viewer.js"></script>
<link href="/static/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

  <h2>Ağ bilgisi</h2>
  <div style="padding-left:16px">
	{{if .data }}
		<table id="network" border="1" class="display" style="font-size:80%">
			<thead>
			<th>index</th>
			<th>name</th>
			<th>type</th>
			<th>mac addr</th>
			<th>broadcast</th>
			<th>address info</th>
			<th>flags</th>
			<th>group</th>
			<th>mtu</th>
			<th>operstate</th>
			<th>qdisc</th>
			<th>txqlen</th>
			</thead>
		{{ range .data }}
			<tr>
				<td>{{ .ifindex }}</td>
				<td>{{ .ifname }}</td>
				<td>{{ .link_type }}</td>
				<td>{{ .address }}</td>
				<td>{{ .broadcast }}</td>
				<td>
					<table id="newtwork2" border="1" class="display">
					<thead>
					<th>label</th>
					<th>family</th>
					<th>ip addr</th>
					<th>prefixlen</th>
					<th>broadcast</th>
					<th>scope</th>
					</thead>
					{{ range .addr_info }}
						<tr>
							<td>{{ .label }}</td>
							<td>{{ .family }}</td>
							<td>{{ .local }}</td>
							<td>{{ .prefixlen }}</td>
							<td>{{ .broadcast }}</td>
							<td>{{ .scope }}</td>
							<td>
						</tr>		
					{{ end }}
					</table>
				</td>
				<td>{{ .flags }}</td>
				<td>{{ .group }}</td>
				<td>{{ .mtu }}</td>
				<td>{{ .operstate }}</td>
				<td>{{ .qdisc }}</td>
				<td>{{ .txqlen }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>
<h3>Aktif Ağ Bilgileri</h3>
	<pre id="active"></pre>
	
<h3>Ağ Cihaz Engel (Rfkill) Durumu</h3>
  
	<div style="padding-left:16px;padding-bottom:20px;">
	{{if .rfkill }}
		<table id="usb" border="1">
			<thead>
			<th>id</th>
			<th>type</th>
			<th>device</th>
			<th>soft</th>
			<th>hard</th>
			</thead>
		{{ range .rfkill }}
			<tr>
				<td>{{ .id }}</td>
				<td>{{ .type }}</td>
				<td>{{ .device }}</td>
				<td>{{ .soft }}</td>
				<td>{{ .hard }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>
	
<script>
$(document).ready(function() {
    $('#network').DataTable( {
        dom: 'Qlfrtip',
    });
    
    $.get( "api/network/active", function( resp ) {
		//console.log(resp.data)
		//var tree = jsonTree.create(resp.data, wrapper);
		$('#active').jsonViewer(resp.data, {rootCollapsable:true,collapsed: false, withQuotes: true, withLinks: true});
    });
});
</script>
</body></html>
    
