<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
<script src="/static/jquery.json-viewer.js"></script>
<link href="/static/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px">
  <h2>Bildirimler</h2>
  
	<div> 
	{{if .data }}
		<table id="notifications" border="1" class="display">
			<thead>
			<th>Başlık</th>
			<th>Mesaj</th>
			<th>Zaman</th>
			</thead>

		{{ range .data }}
			<tr>
				<td>{{ .title }}</td>
				<td>{{ .body }}</td>
				<td>{{ .time }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>
<button type="button" id="test">Test</button>	
<button type="button" id="clear">Clear</button>	
<script>
$(document).ready(function() {
    var table = $('#notifications').DataTable( {
        dom: 'Qlfrtip',
    });
    $('#test').click(function() {
      var notify = { title: "Ayguci", body: "bildirim denemesi" };
      var test_data = JSON.stringify(notify);
      $.post( "api/notify", test_data, function( resp ) {
        console.log("notify test clicked", resp);
        table.rows.add( [[resp.data.title,resp.data.body,resp.data.time ]] ).draw();
      });
    });
    $('#clear').click(function() {
	  $.ajax({
        url: 'api/notify',
        type: 'DELETE',
        success: function (resp) {
          console.log("notify clear clicked", resp);
          location.reload();
        }
      });
    });
});
</script>

</body></html>
    
