<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px">
  <h2>Ağ Noktaları</h2>
  
	<div> 
	{{if .data }}
		<table id="process" border="1" class="display">
			<thead>
			<th>proto</th>
			<th>local_address</th>
			<th>foreign_address</th>
			<th>state</th>
			<th>program_name</th>
			<th>pid</th>
			<th>local_port</th>
			<th>foreign_port</th>
			</thead>

		{{ range .data }}
			<tr>
				<td>{{ .proto }}</td>
				<td>{{ .local_address }}</td>
				<td>{{ .foreign_address }}</td>
				<td>{{ .state }}</td>
				<td>{{ .program_name }}</td>
				<td>{{ .pid }}</td>
				<td>{{ .local_port }}</td>
				<td>{{ .foreign_port }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>
<script>
$(document).ready(function() {
    $('#process').DataTable( {
        dom: 'Qlfrtip',
    });
});
</script>
</body></html>
