<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px">
  <h2>Süreçler</h2>
  
	<div> 
	{{if .data }}
		<table id="process" border="1" class="display">
			<thead>
			<th>user</th>
			<th>pid</th>
			<th>rss</th>
			<th>start</th>
			<th>time</th>
			<th>command</th>
			</thead>
		{{ range .data }}
			<tr>
				<td>{{ .user }}</td>
				<td>{{ .pid }}</td>
				<td>{{ .rss }}</td>
				<td>{{ .start }}</td>
				<td>{{ .time }}</td>
				<td>{{ .command }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>
<script>
$(document).ready(function() {
    $('#process').DataTable( {
        dom: 'Qlfrtip',
    });
});
</script>
</body></html>
