<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
<script src="/static/jquery.json-viewer.js"></script>
<link href="/static/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

  <h2>Python Kütüphaneleri</h2>
  <div style="padding-left:16px;display: table; "> <div style="display: table-row">
	  
		<div style="width: 300px;  display: table-cell;">

		<h4>Sistem</h4>
			{{if .data.system }}
				<table id="python" border="1" class="display" style="font-size:80%">
					<thead>
					<th>paket</th>
					<th>sürüm</th>
					</thead>
				{{ range .data.system }}
					<tr>
					<td>{{ .package }}</td>
					<td>{{ .version }}</td>
					</tr>		
				{{ end }}
				</table>
			{{end}}
		</div>
     
		<div style="margin-left: 300px; display: table-cell;">

			<h4>Kullanıcı</h4>
			{{if .data.user }}
				<table id="python2" border="1" class="display" style="font-size:80%">
				<thead>
				<th>paket</th>
				<th>sürüm</th>
				</thead>
				{{ range .data.user }}
					<tr>
					<td>{{ .package }}</td>
					<td>{{ .version }}</td>
					</tr>		
				{{ end }}
			</table>
			{{end}}

		</div>
 </div> </div> 

</body></html>
    
