<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<link href="/static/datatables.min.css" rel="stylesheet">
<script src="/static/datatables.min.js"></script>
<script src="/static/jquery.json-viewer.js"></script>
<link href="/static/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px;padding-right:16px">
  <h2>Servis Bilgisi</h2>
  
	<div> 
	{{if .data }}
		<table id="service" border="1" class="display" style="width:100%; table-layout:fixed;">
			<thead>
			<th>servis</th>
			<th>tanımlı</th>
			<th>oto başlama</th>
			<th>çalışma durumu</th>
			</thead>

		{{ range .data }}
			<tr>
				<td>{{.name}}</td>
								
				<td>{{ .local }}</td>
				
				{{ if eq .active "true" }}
				  <td>+</td>
				{{ else }}
				  <td>-</td>
				{{ end }}
				
				{{ if eq .status "+" }}
				  <td><span style="color: green;">●</span></td>
				{{ else if eq .status "X" }}
				  <td><span style="color: red;">●</span></td>
				{{ else if eq .status "o" }}
				  <td><span style="color: black;">●</span></td>
				{{ else }}
				  <td>{{.status}}</td>
				{{end}}
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>
<script>
$('#service').DataTable( {
   dom: 'Qlfrtip',
});
</script>
</table>

<h2>Sistem Açılış Ayarları</h2>
<pre id="wrapper"></pre>

<script>
  var wrapper = document.getElementById("wrapper");
  $.get( "api/init", function( resp ) {
    //console.log(resp.data)
    //var tree = jsonTree.create(resp.data, wrapper);
    $('#wrapper').jsonViewer(resp.data, {rootCollapsable:false,collapsed: false, withQuotes: false, withLinks: true});
  });
</script>

</body></html>
