<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
<script src="/static/datatables.min.js"></script>
<script src="/static/jquery.json-viewer.js"></script>
<link href="/static/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<style>
  #config li {
    list-style:none;
  }
  #card-info li {
    list-style:none;
  }
</style>

  <h3>Ses Sistemi</h3>
  <pre id="config"></pre>
  <br>

<script>
$.get( "api/sound", function( resp ) {
    $('#config').jsonViewer(resp.data, {rootCollapsable:true,collapsed: false, withQuotes: false, withLinks: true});
});

 
</script>
</body></html>
