<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px">
  <h2>USB Noktaları</h2>
  
	<div> 
	{{if .data }}
		<table id="usb" border="1">
			<thead>
			<th>bus</th>
			<th>device</th>
			<th>id</th>
			<th>description</th>
			</thead>
		{{ range .data }}
			<tr>
				<td>{{ .bus }}</td>
				<td>{{ .device }}</td>
				<td><a href="http://linux-hardware.org/?id=usb:{{.id2}}" target="_blank">{{ .id }}</a></td>
				<td>{{ .description }}</td>
			</tr>		
		{{ end }}
		</table>
	{{end}}
	</div>

</body></html>
