<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ template "css" .}}
</head>
<body>

<div class="topnav">
  {{ template "menu" . }}
</div>

<div style="padding-left:16px">
  <h2>Kullanıcılar</h2>
  
	<div> 
	{{if .users }}
		<table border="1">
			<thead>
			<th>isim</th>
			<th>parola</th>
			<th>no</th>
			<th>grup no</th>
			<th>bilgi</th>
			<th>ev dizini</th>
			<th>shell</th>
			</thead>
		{{ range .users }}
			
			<tr>
				<td>{{ .username }}</td>
				<td>{{ .password }}</td>
				<td>{{ .uid }}</td>
				<td>{{ .gid }}</td>
				<td>{{ .comment }}</td>
				<td>{{ .home }}</td>
				<td>{{ .shell }}</td>
			</tr>
			
		{{ end }}
		</table>
	{{end}}
	</div>
	
	<h2>Gruplar</h2>
  
	<div> 
	{{if .groups }}
		<table border="1">
			<thead>
			<th>isim</th>
			<th>parola</th>
			<th>no</th>
			<th>üyeler</th>
			</thead>
		{{ range .groups }}
			
			<tr>
				<td>{{ .group_name }}</td>
				<td>{{ .password }}</td>
				<td>{{ .gid }}</td>
				<td>{{ .members }}</td>
			</tr>
			
		{{ end }}
		</table>
	{{end}}
	</div>

</body></html>
